#exemplo{
    width: 200px;height: 200px;background-color: red;
    transition-duration: 2s;
    transition-property: width ;
    transition-timing-function: linear;
    /* transition-delay: .5s; */
}
#exemplo:hover{
    width: 350px;
    height: 350px;
    background-color: green;
}